{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="3">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <title>my tiny habit tracker</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body>

    <div class="container mx-auto px-4">

        <header class="py-10 bg-slate-100 border-2 border-solid rounded-md">

            <h1 class="text-sky-400 pl-5 uppercase font-bold">My personal Habits (but its a Todo list)</h1>
        </header>
        <hr>
        <div id="habit-container" class="w-full">
            {{ template "habits" .}}
        </div>
        <div>
            <button 
                hx-on:click="htmx.toggleClass(htmx.find('#new-habit'), 'hidden')"
                class="p-4 float-right"
                >
                Add new Habit
            </button>
            <div  id="new-habit" class="hidden">
                <form hx-post="/add" hx-target="#habit-container" class="bg-slate-100 w-full flex flex-col mx-auto">
                    <label class="ml-2">Name: </label>
                    <input type="text" name="Name" placeholder="Bending" minlength="2" required class="bg-slate-200 w-10/12 ml-5">
                    <label class="ml-2">Description:</label>
                    <input type="text" name="Description" placeholder="to match the firelords strength!" class="bg-slate-200 w-10/12 ml-5">
                    <label class="ml-2">Date:</label>
                    <input type="date" name="Date" class="w-2/12 bg-slate-200 ml-5">
                    <button type="submit" class="p-4 my-2 mx-auto w-3/12 ">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}